.details{

width:80%;

margin:40px auto;

text-align:center;

}


.detail-card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

}


.detail-card p{

font-size:18px;

margin:15px;

}


.safe{

color:green;

font-weight:bold;

}


.breach{

color:red;

font-weight:bold;

}
