*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{

background:#eef8ff;
color:#123;

}



/* Navbar */


nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}


.logo{

font-size:24px;
font-weight:700;
color:#0077cc;

}


.menu a{

margin-left:30px;
text-decoration:none;
color:#333;
font-weight:600;

}


.menu a:hover{

color:#0077cc;

}




/* Hero */


.hero{

display:flex;
align-items:center;
justify-content:space-between;

padding:70px 8%;

}



.hero-text{

width:50%;

}


.hero-text h1{

font-size:50px;
line-height:1.2;

color:#005b96;

}



.hero-text p{

font-size:18px;

margin:25px 0;

color:#555;

line-height:1.6;

}



.btn{

background:#0077cc;

padding:15px 35px;

border-radius:30px;

color:white;

text-decoration:none;

font-weight:bold;

display:inline-block;

transition:.3s;

}



.btn:hover{

background:#004d80;

transform:translateY(-5px);

}



/* Image */


.hero-image img{

width:330px;

filter:drop-shadow(0 20px 20px #aaa);

}




/* Stats */


.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

padding:40px 8%;

}



.stat-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}



.stat-card:hover{

transform:translateY(-10px);

}



.stat-card h2{

font-size:35px;

color:#0077cc;

margin-bottom:10px;

}



.stat-card h3{

margin-bottom:10px;

}



.stat-card p{

color:#666;

}



.safe h2{

color:green;

}


.danger h2{

color:red;

}




/* About */


.about{

margin:50px auto;

width:80%;

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

text-align:center;

}



.about h2{

color:#0077cc;

font-size:32px;

margin-bottom:20px;

}



.about p{

font-size:18px;

line-height:1.7;

color:#555;

}




@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}


.hero-text{

width:100%;

}


.stats{

grid-template-columns:1fr;

}

}